body {
    margin: 0px;
}

.App {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    /* background: linear-gradient(10deg, #31ae6e, #282828); */
    background-color: #31ae6e;
    color: white;

    /* align-items: center; */
}

