.Header {
    text-align: center;
}

.HeaderDate{
    font-size: 35px;
    font-weight: bolder;
    padding-right: 30px;
}

.HeaderTime{
    font-size: 25px;
    font-weight: bolder;
}

.HeaderContents {
    padding-bottom: 2%;
}