.SubjectItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(154, 49, 12);
}

.SubjectItem .checkbox {
    width: 20px;
}

.SubjectItem .title {
    flex: 1;
}

.SubjectItem .time {
    font-size: 17px;
    color: whitesmoke;
}

.SubjectItem .btn {
    cursor: pointer;
    color: gray;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 0.8%;
}