.listWrapper {
    display: flex;
    flex-direction: column;
}

.SubjectList .searchbar {
    margin-bottom: 20px;
    flex: 100%;
    border: none;
    box-sizing: border-box;

    background-color: white;

    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
}

.SubjectList .searchbar:focus {
    outline: none;
    border-bottom: 1px solid black;
}